body {
  background-color: lightblue;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  color: blue;
  text-align: center;
  border: 3px solid grey;
  background-color: white;
}

ul{
	border: 3px solid grey;
	font-size: 18px;
	text-transform: capitalize;
	margin: 10px 2200px 10px 20px;
	list-style-type: circle;
	background-color: lightgreen;
}

ol{
	border: 3px solid grey;
	font-size: 18px;
	margin: 10px 1000px 10px 20px;
	list-style-type: circle;
	background-color: lightgreen;
}

p {
  margin-right: 20px;
}